/*

Ignore this, it's an experiment -Soorya
.item-a {
  grid-area: header;
}
.item-b {
  grid-area: main;
}
.item-c {
  grid-area: sidebar;
}
.item-d {
  grid-area: footer;
}
.item-e {
	grid-area: buttons;
}

.container {
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header buttons"
    "main main . sidebar"
    "footer footer footer footer";
}
*/
h1{ 
	text-align:center;
	font-size:500%;
	font-family:verdana
}

body{
	background-color: #5F5F5F;
}

h2{
	text-align: center;

}

h3{
	text-align: center;

}
/*

I find this hover feature a little annoying and distracting, have a look at it for yourselves. 
I think it'd be best if this was removed and the hover effect used elsewhere. -Soorya
*/

/*
div:hover
{  
background-color: rgb(169,169,169);
background-repeat:no-repeat;
	padding: 50px 25px;
	margin: 0px 0px;
	border-radius: 10px;
}
*/

p{
	letter-spacing: 1px;
	word-spacing: 2px;
	color:white;
}
img {
	width: 1400px;
	height: 600px;
	padding: 10px;
	border-image-width: 10px;
	background-attachment: fixed;
}
/*Moved button code to external CSS. -Soorya */
.button{
    background-color: #F4D03F;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;    
}
.pricingtext{
	font-size:12px;
	font-family: Verdana;
	color:white;
}