/*General styling-- Lines 1- ~95 apply to entire website*/

head{
	background-color:#128f76;
}

/*Colour of background of website, margin of entire body*/
body{
  margin:0;
  background-color:#2c3e50 ;
}

header{
	width:100%;
	height:120px;
	background-color:#128f76;
	margin:0 auto;
  margin-bottom:0px;
}

table, td, th{
    border: 3px solid #128f76;
}

table{ 
  width:100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-color:transparent;
}

p{
  color:white;
  font-family:courier;
  font-size:15px;
}

img {
  max-width:100%;
  max-height:300px;
  padding: 10px;
  border-image-width: 10px;
  background-attachment: fixed;
  background-color:transparent;
}

td:hover {
background-color:#128f76;
}
a:link {
text-decoration: none;
color: black;
}

a:visited {
text-decoration: none;
color: black;
}

li a:hover {
    background-color: #1579a5;
}

/*Subtitle syling */
h2{
  text-align: center;
  text-decoration: underline;
  color:white;
  font-family:courier;
  font-weight: lighter;
  font-size:30px;
}

/*
I believe this is not being used anymore - Soorya
h3{
  text-align: center;
  color:white;
  font-family:courier;

}
*/

/*Main title styling*/
h4{ 
  text-align:center;
  float:left;
  font-size:500%;
  font-family:"Courier New";
  font-weight: lighter;
  color:white;
  margin: 0;
  width:50%;
  height:50%;
  position:absolute;
  left:25vw;
  top: 28px;
}

/*Specific styling -- Rest of CSS is specific to certain sections.
Ordered chronologically to make it easier to follow*/

ul.headerbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.headerbar li {
    float: left;
}

.headerbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-family:courier;
    font-size:15px;
}

img.logo{
  max-width:100%;
  max-height:78px;
  float:left;
  background-attachment:fixed;
  background-color:transparent;
  position:absolute;
  top: 30px;
}

div.div1{
  margin-top:0;
  width:100%;
  height:750px;
  background-color:  #2c3e50;
  background-image: url("Images/business.jpg");
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  background-attachment: fixed;
  padding-top:20px;
}

div.div2{
  background-color:#128f76;
  margin-top:0;
  padding-top:20px;   
}

.container {
    position: relative;
    width: 25%;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 55%;
  left: 25%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.1;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: transparent;
  color: white;
  font-family:courier;
  font-size: 100%;
  padding: 16px 26px;
  left: 0;
  top:-120px;
  position: center;
  margin-left: 16vw;
  
}

.row {
    display: flex;
}

.column {
    flex: 30%;
    padding: 5px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  margin-left: auto;
  margin-right: auto;
}

div.div3{
	background-color : #2c3e50
}
table.tablePrime{

  max-width: 100%;
  height: auto;
  margin-left: auto; 
  margin-right: auto;
  background-color: white;
  border: #2c3e50; 
}

.pricingtitles{
  font-size:20px;
  color:black;
  font-family:courier;
  font-weight: bold;
  text-align: center;
}

.pricingtext{
  font-size:12px;
  color:black;
  font-weight: bold;
  font-family:courier;
  padding-left: 50px;
  padding-right: 50px;
}

.pricingtext table, td, th{
  border:3px solid #2c3e50;
  border-left: 25px solid #2c3e50;
  border-right: 25px solid #2c3e50;
}

div.div4{
	background-color: #2c3e50;
}

div.div5{
  max-width:100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

table.table1{
max-width: 100%;
height: auto;
margin-left: auto;
margin-right: auto;
background-color: white;
border: #2c3e50
}

.faces{
  height:auto;
  max-width:16.4%;
  border-radius: 100px;
  border-color: black;
  margin-left: auto;
  margin-right: auto;
  position: center;
  padding: 1.7% 1.7%;
  }

.About-Us{
  font-family:courier;
}

div.div6{
  background-color: #2c3e50;
}


/*Moved button code to external CSS. (Replaced by the navigation bar)*/
.button{
  float:right;
  background-color:#a61532;
  padding: 10px 20px;
  border: none;
  text-align: center;
  font-family:courier;
  display:inline-block;
  color:#620c1d;
  font-size: 15px;
  cursor: pointer;
  border-radius:20px;
  margin: 4px 2px;
  border: 2px solid;    
}
.top{
  margin-top:250px;
  text-align:center;
  position:center;
  font-family:courier;
  color:white;
  font-size:50px;

}

.learn{
  opacity: 1;
  display: block;
  width: 300px;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}


